@charset "UTF-8";
@import url(reset.css);
/*********************
    기본 설정
*********************/
a { text-decoration: none; color: inherit; }

/*********************
    레이아웃
*********************/
.main { width: 100%; height: 100%; padding-top: 30px; }

/* sidebar */
.sidebar { position: fixed; right: 0; width: 43px; height: 100%; }

.sidebar .side_list { width: 43px; height: 148px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.center { max-width: 1080px; min-width: 360px; width: 100%; margin: 0 auto; }

.banner { cursor: pointer; width: 100%; margin-bottom: 20px; }

.banner img { max-width: 100%; }

.trade_title { width: 100%; height: 35px; margin-bottom: 20px; padding-bottom: 3px; }

.trade_select { height: 40px; }

.trade_select:after { content: ''; clear: both; display: block; }

.trade_select .select_list { float: left; height: 100%; }

.trade_select .select_list:after { content: ''; clear: both; display: block; }

.trade_select .select_list .select_item { float: left; font-size: 13px; }

.trade_select .select_search { float: right; font-size: 13px; }

.subtitle { height: 46px; margin-top: 15px; padding: 11px 0 8px; }

.subtitle:after { content: ''; clear: both; display: block; }

.subtitle span { float: left; }

.subtitle .premium_regInfo { float: right; }

.subtitle .basic_filter:after { content: ''; clear: both; display: block; }

.subtitle .basic_filter .filter_item { float: left; }

.subtitle .basic_refresh { float: right; }

.subtitle .trade_info { float: right; }

.list { width: 100%; }

.list:after { content: ''; clear: both; display: block; }

.item { height: 60px; display: block; max-width: 1080px; width: 100%; margin: 0 auto; text-align: center; font-size: 13px; letter-spacing: -1px; }

.item:last-child { margin-bottom: 0; }

@media (max-width: 1000px) { .item .col1 { max-width: none; width: 8%; }
  .item .col2 { max-width: none; width: 45%; }
  .item .col3 { max-width: none; width: 11%; }
  .item .col4 { max-width: none; width: 29%; }
  .item .col5 { max-width: none; width: 7%; } }

@media (max-width: 780px) { .item { height: 60px; }
  .item .col1 { width: 20%; }
  .item .col2 { width: 80%; }
  .item .col3 { width: 26%; }
  .item .col4 { width: 66%; }
  .item .col5 { width: 8%; }
  .item .dn_text { text-overflow: ellipsis; overflow: hidden; white-space: pre; } }

.item > * { display: block; float: left; height: 100%; }

.col1 { max-width: 120px; width: 11.1111%; line-height: 60px; cursor: pointer; }

.col2 { max-width: 480px; width: 44.4444%; text-align: left; }

.col2 > * { cursor: pointer; }

.col3 { max-width: 140px; width: 12.9629%; text-align: right; }

.col3 span { line-height: 40px; display: block; }

.col3 span + span { line-height: 0px; }

.col4 { max-width: 270px; width: 25%; }

.col5 { max-width: 70px; width: calc(100% - 93.5184%); line-height: 60px; }

.more_load { margin: 0 auto; width: 100%; height: 48px; text-align: center; margin-top: 20px; }

.top { width: 100%; height: 14px; position: relative; margin-top: 20px; margin-bottom: 40px; }

.footer { margin-top: 50px; }

@media (max-width: 1040px) { .footer { height: 200px; }
  .footer .footer_link { padding: 0 10px; }
  .footer .footer_link .link_list .link_item { margin-right: 5px; }
  .footer .footer_info { padding: 0 10px; margin-top: 20px; }
  .footer .footer_info .footer_logo { display: block; margin: 0 auto; }
  .footer .footer_info .copy { display: block; text-align: left; width: 84%; word-wrap: wrap; } }

@media (max-width: 900px) { .footer { height: 250px; } }

@media (max-width: 760px) { .footer .footer_link { height: 86px; }
  .footer .footer_link .sns_logo { top: 82px; } }

@media (max-width: 580px) { .footer { height: 350px; }
  .footer .footer_link .sns_logo { top: 100px; right: 0; }
  .footer .footer_info .copy { margin: 0; margin-top: 10px; }
  .footer .footer_info .inipay { top: 40px; right: 13px; } }

.footer_link { position: relative; height: 43px; }

.footer_link .link_list { width: 100%; }

.footer_link .link_list:after { content: ''; clear: both; display: block; }

.footer_link .link_list .link_item { float: left; margin-right: 35px; letter-spacing: -1px; }

.footer_link .link_list .link_item:last-child { margin-right: 0; }

.footer_link .sns_logo { position: absolute; top: 0; right: 16px; display: inline-block; height: 43px; }

.footer_link .sns_logo .sns { display: inline-block; width: 22px; height: 22px; margin-right: 2px; vertical-align: middle; }

.footer hr { border: 0; border-bottom: 1px solid #767676; height: 0px; }

.footer_info { height: 110px; padding: 28px 0; }

.footer_info .footer_logo { border: 0; width: 104px; height: 31px; display: inline-block; vertical-align: middle; }

.footer_info .copy { margin-left: 40px; line-height: 18px; display: inline-block; vertical-align: middle; word-break: break-all; }

.footer_info .copy span { display: inline-block; }

.footer_info address { font-style: normal; display: inline-block; }

/*********************
    공통 적용 클래스
*********************/
.icon { display: inline-block; background: url(../images/sp_icon_20210312.png) no-repeat; cursor: pointer; }

.icon.user_info { width: 28px; height: 32px; background-position: -32px -230px; }

.icon.plus_zone { width: 31px; height: 27px; background-position: -573px -230px; }

.subtitle span { font-size: 20px; font-weight: 700; letter-spacing: -1px; color: #2f2f2f; }

.list .item:hover { background-color: #e3f4fe; }

.list .item:hover .col2 .icon_detail { display: block; }

.list .item .col1 { position: relative; }

.list .item .col2 { position: relative; padding: 15px 0; }

.list .item .col2 .up_text { margin-bottom: 5px; }

.list .item .col2 .icon_detail { position: absolute; top: 14px; right: 10px; width: 32px; height: 32px; background: url("../images/sp_list.png") no-repeat -2px -135px; cursor: pointer; display: none; }

.list .item .col3 .unit_money { color: #767676; }

.list .item .col3 .min_money { color: #216ed7; font-weight: bold; }

.list .item .col4 { position: relative; }

.list .item .col4 .icon_wrap { width: 100%; height: 100%; position: relative; }

.list .item .col4 .icon_wrap i { height: 41px; background-image: url(../images/sp_list.png); background-repeat: no-repeat; background-position-y: -53px; margin-top: 9px; margin-right: 10px; display: inline-block; }

.list .item .col4 .icon_wrap i.active { background-position-y: -2px; }

.list .item .col4 .icon_wrap .cert { width: 38px; background-position-x: -2px; }

.list .item .col4 .icon_wrap .reward { width: 43px; background-position-x: -50px; }

.list .item .col4 .icon_wrap .sell_reward { width: 63px; background-position-x: -235px; }

.list .item .col4 .icon_wrap .sale { width: 26px; background-position-x: -103px; }

.list .item .col5 { color: #767676; }

.bl { color: #216ed7; }

.bd { font-weight: bold; }

.icon_quick { position: absolute; top: 17px; right: 0; width: 73px; height: 27px; background: url("../images/btn_quick.gif"); cursor: pointer; }

/*********************
    사이드바
*********************/
@media (max-width: 1196px) { .sidebar { display: none; } }

.sidebar .side_list { background: #919199; }

.sidebar .side_list .side_item { position: relative; border: 1px solid #a4a4a4; border-right: none; width: 43px; }

.sidebar .side_list .side_item:nth-child(1) { height: 55px; }

.sidebar .side_list .side_item:nth-child(2) { height: 50px; border-top: 0; }

.sidebar .side_list .side_item .icon { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; }

.sidebar .side_list p { color: #767676; letter-spacing: -1px; background: #fff; display: block; visibility: hidden; width: 80px; font-size: 12px; text-align: center; color: #767676; padding: 10px 0; position: relative; left: -85px; z-index: 1; border: 1px solid #E0E0E0; }

.sidebar .side_list p::after { content: ''; display: block; position: absolute; z-index: 10; border: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin-top: -5px; top: 50%; border-left: 5px solid #fff; left: auto; right: -5px; }

.sidebar .side_list .icon:hover p { visibility: visible; }

.to_top { margin-top: 0; width: 43px; height: 43px; background-color: #0475EA; color: #fff; text-align: center; font-size: 14px; padding: 6px 0; cursor: pointer; letter-spacing: -1px; /* 화살표 */ }

.to_top .arrow_icon { height: .9em; display: block; position: relative; border-radius: 4px; padding-top: 3px; margin-top: 3px; }

.to_top .arrow_icon .left_bar { position: absolute; left: 17px; height: 5px; -webkit-transform: rotate(45deg); transform: rotate(45deg); -ms-transform: rotate(45deg); border-radius: 2px; }

.to_top .arrow_icon .left_bar:after { content: ''; background-color: #fff; width: 12px; height: 1px; display: block; float: right; border-radius: 6px 10px 10px 6px; }

.to_top .arrow_icon .right_bar { position: absolute; left: 12px; height: 5px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -ms-transform: rotate(-45deg); }

.to_top .arrow_icon .right_bar:after { content: ''; background-color: #fff; width: 12px; height: 1px; display: block; float: right; border-radius: 10px 6px 6px 10px; }

/*********************
    거래 타이틀
*********************/
.trade_title { border-bottom: 2px solid #159efd; }

.trade_title > span { font-size: 20px; font-weight: 700; letter-spacing: -2px; color: #159efd; line-height: 30px; margin-right: 15px; }

#server_name { font-size: 15px; letter-spacing: -1px; font-weight: 700; vertical-align: middle; color: #1d1d1d; padding-top: 4px; margin-right: 15px; }

#trade_reg { float: right; width: 98px; height: 30px; background: #159EFD; border-radius: 15px; font-size: 14px; font-weight: 700; letter-spacing: -2px; line-height: 28px; text-align: center; font-weight: bold; color: #fff; cursor: pointer; }

/*********************
    거래 선택
*********************/
.trade_select { border-bottom: 1px solid #e1e1e1; }

.trade_select:after { content: ''; clear: both; display: block; }

.trade_select .select_list { float: left; width: 50%; }

.trade_select .select_list .select_item { float: left; max-width: 183px; width: 33.3333%; text-align: center; color: #1d1d1d; background: #f1f0f3; height: 100%; line-height: 38px; border-top: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; cursor: pointer; }

.trade_select .select_list .select_item:first-child { border-left: 1px solid #e1e1e1; }

.trade_select .select_search { float: left; width: 50%; }

.trade_select #trade_search { float: right; width: 234px; height: 29px; border: 1px solid #d7d7d7; border-right: 0; padding: 0 5px; }

.trade_select .search_btn { float: right; width: 34px; height: 29px; display: block; -webkit-box-sizing: content-box; box-sizing: content-box; border: 1px solid #d7d7d7; background-position: -44px -135px; background-image: url(../images/sp_list.png); cursor: pointer; }

@media (max-width: 600px) { .trade_select .select_list { width: 80%; }
  .trade_select .select_search { width: 20%; }
  .trade_select .select_search #trade_search { display: none; } }

/*********************
    프리미엄
*********************/
.premium { position: relative; }

.premium_regInfo { position: absolute; top: 11px; right: 0; width: 131px; height: 29px; font-size: 12px; line-height: 27px; border: 1px solid #e0e0e0; cursor: pointer; text-align: center; font-weight: normal; letter-spacing: -1px; }

.premium_regInfo:after { margin-right: 5px; content: "〉〉〉"; font-weight: bold; letter-spacing: -5.5px; color: #159efd; }

.premium > .item { margin-bottom: 5px; }

.premium > .item > * { height: 60px; background: #f0f8fd; border-top: 1px solid #c3daea; border-bottom: 1px solid #c3daea; }

.premium > .item .col1 { border-left: 1px solid #c3daea; }

.premium > .item .col5 { border-right: 1px solid #c3daea; }

@media (max-width: 780px) { .premium > .item { height: auto; }
  .premium > .item > * { border-bottom: 0; text-align: center; }
  .premium > .item .col3, .premium > .item .col4, .premium > .item .col5 { border-top: 0; border-bottom: 1px solid #c3daea; margin-bottom: 5px; } }

.premium > .item:hover { background: #E3F4FE; -webkit-box-shadow: 0 0 0 2px #399fe7; box-shadow: 0 0 0 2px #399fe7; }

@media (max-width: 780px) { .premium > .item:hover { -webkit-box-shadow: none; box-shadow: none; }
  .premium > .item:hover .col1, .premium > .item:hover .col2 { border-top: 2px solid #399fe7; }
  .premium > .item:hover .col3, .premium > .item:hover .col4, .premium > .item:hover .col5 { border-bottom: 2px solid #399fe7; } }

.premium .col1:before { width: 44px; height: 34px; position: absolute; top: 0; left: 0; content: ''; background-image: url(../images/img_pre_tab.png); }

/*********************
    베이직
*********************/
.basic:after { content: ''; display: block; clear: both; }

.basic_filter { float: left; height: 100%; margin-left: 7px; }

.basic_filter:after { content: ''; display: block; clear: both; }

.basic_filter .filter_item { display: inline-block; vertical-align: bottom; width: 33px; height: 15px; margin-left: 15px; font-size: 11px; color: #9f9f9f; line-height: 25px; cursor: pointer; }

.basic_filter .filter_item:before { content: ''; width: 10px; height: 9px; display: inline-block; }

.basic_filter .filter_item:last-child { margin-right: 0; }

.basic_filter .filter_item.active { color: #1d1d1d; }

.basic_filter .filter_item.active:before { background: url("../images/sp_list.png") no-repeat -194px -104px; }

.basic_right { float: right; margin-top: 10px; }

.basic_refresh { float: left; width: 14px; height: 14px; margin-right: 10px; background: url("../images/sp_list.png") no-repeat -238px -104px; cursor: pointer; }

.basic .trade_info { float: left; width: 66px; font-size: 12px; color: #2f2f2f; font-weight: normal; display: block; }

@media (max-width: 450px) { .basic .trade_info { display: none; } }

.basic .icon_hook { float: left; width: 14px; height: 14px; margin: 0 10px 0 5px; background: url("../images/sp_list.png") no-repeat -214px -104px; cursor: pointer; }

.basic .item { border-bottom: 1px solid #E3E3E3; }

@media (max-width: 780px) { .basic .item { border-bottom: 0; }
  .basic .item > * { text-align: center; }
  .basic .item .col3, .basic .item .col4, .basic .item .col5 { border-bottom: 1px solid #E3E3E3; } }

.basic .item:hover { background-color: #e3f4fe; }

@media (max-width: 780px) { .basic .item:hover { background-color: transparent; }
  .basic .item:hover > * { background-color: #e3f4fe; } }

.header { height: 40px; border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; }

.header > .item { height: 100%; line-height: 38px; text-align: center; color: #1D1D1D; /* 기존 값 초기화 */ }

.header > .item > * { background-color: #e3e3e3; }

.header > .item:hover { background-color: transparent; }

.header > .item .col1 { line-height: 38px; }

.header > .item .col2 { padding: 0; text-align: center; }

.header > .item .col3 { text-align: center; }

.header > .item .col5 { line-height: 38px; color: #1D1D1D; }

@media (max-width: 780px) { .header > .item .col1 { max-width: none; width: 20%; }
  .header > .item .col2 { max-width: none; width: 20%; }
  .header > .item .col3 { max-width: none; width: 20%; }
  .header > .item .col4 { max-width: none; width: 20%; }
  .header > .item .col5 { max-width: none; width: 20%; } }

.icon_hook { position: relative; }

.icon_hook:hover .trade_info_detail { visibility: visible; }

.icon_hook .trade_info_detail { visibility: hidden; position: absolute; top: 18px; right: -5px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 364px; height: 200px; padding: 12px 15px 0; border: 1px solid #707070; background: #fff; z-index: 1; color: #636363; }

@media (max-width: 600px) { .icon_hook .trade_info_detail { right: -35px; } }

.icon_hook .trade_info_detail p { font-weight: bold; font-size: 12px; margin-bottom: 15px; }

.icon_hook .trade_info_detail .detail_close { position: absolute; top: 10px; right: 10px; width: 14px; height: 13px; background: url("../images/sp_list.png") no-repeat -170px -104px; background-color: #000; }

.detail_list { font-weight: normal; font-size: 11px; }

.detail_list .detail_item { margin-bottom: 5px; height: 32px; width: 332px; line-height: 30px; letter-spacing: -1px; }

.detail_list .detail_item span { border: 1px solid #CFCFCF; display: inline-block; width: 103px; height: 32px; background-color: #f7f7f7; border-radius: 3px; text-align: center; line-height: 30px; margin-right: 10px; font-size: 11px; font-weight: normal; }

.detail_list .detail_item span i { display: inline-block; line-height: 30px; height: 21px; background-image: url(../images/sp_list.png); background-position-y: -104px; vertical-align: middle; margin-top: -3px; margin-right: 5px; }

.detail_list .detail_item:nth-child(1) i { width: 15px; background-position-x: -2px; }

.detail_list .detail_item:nth-child(2) i { width: 17px; background-position-x: -27px; }

.detail_list .detail_item:nth-child(3) i { width: 21px; background-position-x: -53px; }

.detail_list .detail_item:nth-child(4) i { width: 18px; background-position-x: -85px; }

.more_load { border: 1px solid #e0e0e0; font-size: 14px; text-align: center; cursor: pointer; line-height: 46px; }

.top img { float: right; cursor: pointer; }

/*********************
    footer
*********************/
.footer { background: #616161; color: #e1e1e1; }

.footer_link { line-height: 43px; font-size: 13px; letter-spacing: 0; }

.footer_link .link_list .link_item:nth-child(3) { font-weight: bold; color: #feffcf; }

.footer_link .link_list .link_item:last-child { display: inline-block; }

.footer_link .link_list .link_item:last-child img { vertical-align: middle; }

.footer_link .sns_logo .sns { background-image: url(../images/sp_renew_20210804.png); background-repeat: no-repeat; background-position-x: -802px; cursor: pointer; }

.footer_link .sns_logo .facebook { background-position-y: -2px; }

.footer_link .sns_logo .instagram { background-position-y: -26px; }

.footer_link .sns_logo .youtube { background-position-y: -50px; }

.footer_info { position: relative; font-size: 12px; color: #b0b0b0; }

.footer .inipay { position: absolute; top: 23px; right: 30px; width: 54px; height: 54px; }

.footer .inipay img { width: 54px; height: 54px; cursor: pointer; }
