@charset "utf-8";

/*********************
    레이아웃
*********************/
.main {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.sidebar {
  position: fixed;
  right: 0;
  width: 43px;
  height: 100%;

  @media (max-width: 1196px) { display: none;}
}

.center {
  width: 100%;
  max-width: 1080px;
  min-width: 360px;
  margin: 0 auto;
}

.banner {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;

  img {
    max-width: 100%;
  }
}

.footer {
  margin-top: 50px;

  @media (max-width: 1040px) {
    height: 200px;
  }

  @media (max-width: 900px) {
    height: 250px;
  }
}

/*********************
    공통 적용 클래스
*********************/
.icon {
  display: inline-block;
  cursor: pointer;
  background: url(../images/sp_icon_20210312.png) no-repeat;

  &.user_info {
    width: 28px;
    height: 32px;
    background-position: -32px -230px;
  }

  &.plus_zone {
    width: 31px;
    height: 27px;
    background-position: -573px -230px;
  }
}

.subtitle {
  height: 46px;
  padding: 11px 0 8px;
  margin-top: 15px;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  span {
    float: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #2f2f2f;
  }
}

.list {
  width: 100%;
  max-width: 1080px;

  .item {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: -1px;
    text-align: center;

    @media (max-width: 1080px) {
      >* {
        max-width: none !important;
      }

      .col1 {
        width: 10%;
      }

      .col2 {
        width: 45%;
      }

      .col3 {
        width: 16%;
      }

      .col4 {
        width: 29%;
      }

      .col5 {
        display: none;
      }
    }

    @media (max-width: 860px) {
      height: 80px;

      >* {
        height: 40px !important;
        line-height: 1;
        text-align: center;
      }

      .col1 {
        width: 30%;
        line-height: 40px;
      }

      .col2 {
        position: absolute;
        top: 40px;
        float: none;
        width: 100%;

        .up_text {
          float: left;
          width: 25%;
          text-align: center;
        }

        .dn_text {
          float: left;
          width: 75%;
        }

        .icon_detail {
          top: 0;
          left: 50%;
        }
      }

      .col3 {
        width: 30%;

        span {
          line-height: 20px;
        }

        span+span {
          line-height: 1;
        }
      }

      .col4 {
        width: 40%;

        .icon_wrap i {
          margin-top: 3px;
          margin-right: 5px;
        }
      }

      .col5 {
        display: none;
      }
    }

    @media (max-width: 510px) {

      .col1,
      .col2 {
        width: 50%;
      }

      .col4 {
        display: none;
      }
    }

    &:hover {
      background-color: #e3f4fe;

      .col2 .icon_detail {
        display: block;
      }
    }

    >* {
      float: left;
      height: 100%;
    }

    .col1 {
      width: 11.1111%;
      max-width: 120px;
      cursor: pointer;

      span {
        display: inline-block;
        width: 100%;
        line-height: 60px;
        word-break: break-all;
      }
    }

    .col2 {
      position: relative;
      width: 44.4444%;
      max-width: 480px;
      padding: 15px 5px;
      text-align: left;

      >* {
        cursor: pointer;
      }

      .up_text {
        margin-bottom: 5px;
      }

      .icon_detail {
        position: absolute;
        top: 14px;
        right: 10px;
        display: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: url("../images/sp_list.png") no-repeat -2px -135px;
      }
    }

    .col3 {
      width: 12.9629%;
      max-width: 140px;
      padding-right: 5px;
      text-align: right;

      span {
        display: block;
        line-height: 40px;
      }

      span+span {
        line-height: 0px;
      }

      .unit_money {
        color: #767676;
      }

      .min_money {
        font-weight: bold;
        color: #216ed7;
      }
    }

    .col4 {
      width: 25%;
      max-width: 270px;

      .icon_wrap {
        width: 100%;
        height: 100%;

        i {
          display: inline-block;
          height: 41px;
          margin-top: 9px;
          margin-right: 10px;
          background-image: url(../images/sp_list.png);
          background-repeat: no-repeat;
          background-position-y: -53px;

          &.active {
            background-position-y: -2px;
          }
        }

        .cert {
          width: 38px;
          background-position-x: -2px;
        }

        .reward {
          width: 43px;
          background-position-x: -50px;
        }

        .sell_reward {
          width: 63px;
          background-position-x: -235px;
        }

        .sale {
          width: 26px;
          background-position-x: -103px;
        }
      }
    }

    .col5 {
      width: calc(100% - 93.5184%);
      max-width: 70px;
      line-height: 60px;
      color: #767676;
    }
  }
}

.bl {
  color: #216ed7;
}

.bd {
  font-weight: bold;
}

.icon_quick {
  position: absolute;
  top: 17px;
  right: 0;
  width: 73px;
  height: 27px;
  cursor: pointer;
  background: url("../images/btn_quick.gif");
}

.to_top {
  width: 43px;
  height: 43px;
  padding: 6px 0;
  margin-top: 0;
  font-size: 14px;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0475EA;

  .arrow_icon {
    position: relative;
    display: block;
    height: .9em;
    padding-top: 3px;
    margin-top: 3px;
    border-radius: 4px;

    .left_bar {
      position: absolute;
      left: 17px;
      height: 5px;
      border-radius: 2px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);

      &:after {
        display: block;
        float: right;
        width: 12px;
        height: 1px;
        background-color: #fff;
        border-radius: 6px 10px 10px 6px;
        content: '';
      }
    }

    .right_bar {
      position: absolute;
      left: 12px;
      height: 5px;
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);

      &:after {
        display: block;
        float: right;
        width: 12px;
        height: 1px;
        background-color: #fff;
        border-radius: 10px 6px 6px 10px;
        content: '';
      }
    }
  }
}

/*********************
    사이드 바
*********************/
.side_list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 43px;
  height: 148px;
  background: #919199;
  transform: translate(-50%, -50%);

  .side_item {
    position: relative;
    width: 43px;
    border: 1px solid #a4a4a4;
    border-right: none;

    &:nth-child(1) {
      height: 55px;
    }

    &:nth-child(2) {
      height: 50px;
      border-top: 0;
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;

      &:hover p {
        visibility: visible;
      }
    }

    p {
      position: relative;
      left: -90px;
      z-index: 1;
      display: block;
      width: 88px;
      height: 28px;
      padding: 6px 5px;
      font-size: 13px;
      letter-spacing: -1px;
      color: #767676;
      text-align: center;
      background: #fff;
      border: 1px solid #E0E0E0;
      visibility: hidden;

      &::after {
        position: absolute;
        top: 50%;
        right: -10px;
        left: auto;
        z-index: 10;
        display: block;
        margin-top: -7px;
        border: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 12px solid #fff;
        content: '';
      }
    }
  }
}

/*********************
    거래 타이틀
*********************/
.trade_title {
  width: 100%;
  height: 35px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 2px solid #159efd;

  >span {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -2px;
    color: #159efd;
  }
}

#server_name {
  padding-top: 4px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #1d1d1d;
  vertical-align: middle;
}

#trade_reg {
  float: right;
  width: 98px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -2px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #159EFD;
  border-radius: 15px;
}

/*********************
    거래 선택
*********************/
.trade_select {
  height: 40px;
  border-bottom: 1px solid #e1e1e1;

  @media (max-width: 600px) {
    .select_list {
      width: 80%;
    }

    .select_search {
      width: 20%;

      #trade_search {
        display: none;
      }
    }
  }

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  .select_list {
    float: left;
    width: 50%;
    height: 100%;

    &:after {
      display: block;
      clear: both;
      content: '';
    }

    .select_item {
      float: left;
      width: 33.3333%;
      height: 100%;
      max-width: 183px;
      font-size: 13px;
      line-height: 38px;
      color: #1d1d1d;
      text-align: center;
      cursor: pointer;
      background: #f1f0f3;
      border-top: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;

      &:first-child {
        border-left: 1px solid #e1e1e1;
      }
    }
  }

  .select_search {
    float: left;
    width: 50%;
    font-size: 13px;
  }

  #trade_search {
    float: right;
    width: 234px;
    height: 29px;
    padding: 0 5px;
    border: 1px solid #d7d7d7;
    border-right: 0;
  }

  .search_btn {
    display: block;
    float: right;
    width: 34px;
    height: 29px;
    cursor: pointer;
    background-image: url(../images/sp_list.png);
    background-position: -44px -135px;
    border: 1px solid #d7d7d7;
    box-sizing: content-box;
  }
}

/*********************
    프리미엄
*********************/
.premium {
  position: relative;

  &_regInfo {
    position: absolute;
    top: 11px;
    right: 0;
    width: 131px;
    height: 29px;
    font-size: 12px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -1px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e0e0e0;

    &:after {
      margin-right: 5px;
      font-weight: bold;
      letter-spacing: -5.5px;
      color: #159efd;
      content: "〉〉〉";
    }
  }

  >.item {
    margin-bottom: 5px;
    background: #F0F8FD;
    border: 1px solid #c3daea;

    &:hover {
      background: #E3F4FE;
      box-shadow: 0 0 0 2px #399fe7 inset;
    }
  }

  .col1:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 34px;
    background-image: url(../images/img_pre_tab.png);
    content: '';
  }
}

/*********************
    베이직
*********************/
.basic {
  &:after {
    display: block;
    clear: both;
    content: '';
  }

  &_filter {
    float: left;
    height: 100%;
    margin-left: 7px;

    &:after {
      display: block;
      clear: both;
      content: '';
    }

    .filter_item {
      display: inline-block;
      width: 33px;
      height: 15px;
      margin-left: 15px;
      font-size: 11px;
      line-height: 25px;
      color: #9f9f9f;
      cursor: pointer;

      @media (max-width: 450px) {
        margin-left: 0px;
      }

      &:before {
        display: inline-block;
        width: 10px;
        height: 9px;
        content: '';
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #1d1d1d;

        &:before {
          background: url("../images/sp_list.png") no-repeat -194px -104px;
        }
      }
    }
  }

  &_right {
    float: right;
    margin-top: 10px;
  }

  &_refresh {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    cursor: pointer;
    background: url("../images/sp_list.png") no-repeat -238px -104px;
  }

  .trade_info {
    display: block;
    float: left;
    width: 66px;
    font-size: 12px;
    font-weight: normal;
    color: #2f2f2f;
  }

  .icon_hook {
    float: left;
    width: 14px;
    height: 14px;
    margin: 0 10px 0 5px;
    cursor: pointer;
    background: url("../images/sp_list.png") no-repeat -214px -104px;
  }
}

.header {
  height: 40px;
  border-top: 1px solid #BEBEBE;
  border-bottom: 1px solid #BEBEBE;

  >.item {
    height: 100%;
    line-height: 38px;
    color: #1D1D1D;
    text-align: center;

    >* {
      background-color: #e3e3e3;
    }

    &:hover {
      background-color: transparent;
    }

    /* 기존 값 초기화 */
    .col2 {
      padding: 0;
      text-align: center;
    }

    .col3 {
      text-align: center;
    }

    .col5 {
      line-height: 38px;
      color: #1D1D1D;
    }
  }
}

.icon_hook {
  position: relative;

  &:hover .trade_info_detail {
    display: block;
  }

  .trade_info_detail {
    position: absolute;
    top: 18px;
    right: -5px;
    z-index: 1;
    display: none;
    width: 364px;
    height: 200px;
    padding: 12px 15px 0;
    color: #636363;
    background: #fff;
    border: 1px solid #707070;
    box-sizing: border-box;

    @media (max-width: 600px) {
      right: -35px;
    }

    p {
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: bold;
    }

    .detail_close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 14px;
      height: 13px;
      background: url("../images/sp_list.png") no-repeat -170px -104px;
      background-color: #000;
    }
  }
}

.detail_list {
  font-size: 11px;
  font-weight: normal;

  .detail_item {
    width: 332px;
    height: 32px;
    margin-bottom: 5px;
    line-height: 30px;
    letter-spacing: -1px;

    span {
      display: inline-block;
      width: 103px;
      height: 32px;
      margin-right: 10px;
      font-size: 11px;
      font-weight: normal;
      line-height: 30px;
      text-align: center;
      background-color: #f7f7f7;
      border: 1px solid #CFCFCF;
      border-radius: 3px;

      i {
        display: inline-block;
        height: 21px;
        margin-top: -3px;
        margin-right: 5px;
        line-height: 30px;
        vertical-align: middle;
        background-image: url(../images/sp_list.png);
        background-position-y: -104px;
      }
    }

    &:nth-child(1) i {
      width: 15px;
      background-position-x: -2px;
    }

    &:nth-child(2) i {
      width: 17px;
      background-position-x: -27px;
    }

    &:nth-child(3) i {
      width: 21px;
      background-position-x: -53px;
    }

    &:nth-child(4) i {
      width: 18px;
      background-position-x: -85px;
    }
  }
}

.more_load {
  width: 100%;
  height: 48px;
  margin: 20 auto 0;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.top {
  position: relative;
  width: 100%;
  height: 14px;
  margin: 20px 0 40px;

  img {
    float: right;
    cursor: pointer;
  }
}

/*********************
    footer
*********************/
.footer {
  color: #e1e1e1;
  background: #616161;
  @media (max-width: 580px) {
    height: 350px;

    .footer_link .sns_logo {
      top: 100px;
      right: 0;
    }

    .footer_info {
      .copy {
        margin: 0;
        margin-top: 10px;
      }

      .iniPay {
        top: 40px;
        right: 13px;
      }
    }
  }

  &_link {
    position: relative;
    height: 43px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 43px;
    letter-spacing: 0;

    @media (max-width: 780px) {
      height: 86px;

      .sns_logo {
        top: 82px;
      }
    }

    .link_list {
      width: 100%;

      &:after {
        display: block;
        clear: both;
        content: '';
      }

      .link_item {
        float: left;
        margin-right: 35px;
        // margin-right: 5px;
        letter-spacing: -1px;

        &:nth-child(3) {
          font-weight: bold;
          color: #feffcf;
        }

        &:last-child {
          display: inline-block;
          margin-right: 0;

          img {
            vertical-align: middle;
          }
        }
      }
    }

    .sns_logo {
      position: absolute;
      top: 0;
      right: 16px;
      display: block;
      height: 43px;

      .sns {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 2px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(../images/sp_renew_20210804.png);
        background-repeat: no-repeat;
        background-position-x: -802px;
      }

      .facebook { background-position-y: -2px;}
      .instagram { background-position-y: -26px;}
      .youtube { background-position-y: -50px;}
    }
  }

  hr {
    height: 0px;
    border: 0;
    border-bottom: 1px solid #767676;
  }

  &_info {
    position: relative;
    height: 110px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 12px;
    color: #b0b0b0;

    .footer_logo {
      display: inline-block;
      width: 104px;
      height: 31px;
      vertical-align: middle;
      border: 0;

      img {
        cursor: pointer;
      }

      .copy {
        display: inline-block;
        width: 84%;
        margin-left: 40px;
        line-height: 18px;
        text-align: left;
        word-break: break-all;
        vertical-align: middle;

        span {
          display: inline-block;
        }
      }

      address {
        display: inline-block;
        font-style: normal;
      }

      .iniPay {
        position: absolute;
        top: 23px;
        right: 30px;
        width: 54px;
        height: 54px;
      }
    }
  }
}